{% extends 'base.html' %}
{% load static %}

{% block title %}
Home
{% endblock title %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock links %}

{% block content %}

{% include 'partials/_header.html' %}

<div class="container py-4">
    <div class="row g-3">
        <div class="col-lg-8 col-sm-12">
            <div class="row g-3">                
                <div class="col-6">
                    <a href="{% url 'dip_yclp' %}" class="text-decoration-none">
                        <div class="card text-center h-100">
                            <div class="card-body d-flex flex-column align-items-center justify-content-center h-100">
                                <i class="fa-solid fa-book fa-2xl text-primary mb-2"></i>
                                <h6 class="fw-semibold mb-0">DIP YCLP</h6>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-6">
                    <a href="{% url 'dip_yclp' %}" class="text-decoration-none">
                        <div class="card text-center h-100">
                            <div class="card-body d-flex flex-column align-items-center justify-content-center h-100">
                                <i class="fa-solid fa-user-graduate fa-2xl text-primary mb-2"></i>
                                <h6 class="fw-semibold mb-0">DIP MENTEE</h6>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row g-3 mt-1">
                <div class="col-6">
                    <a href="{% url 'mentor_profile' %}" class="text-decoration-none">
                        <div class="card text-center h-100">
                            <div class="card-body d-flex flex-column align-items-center justify-content-center h-100">
                                <i class="fa-solid fa-user fa-2xl text-primary mb-2"></i>
                                <h6 class="fw-semibold mb-0">Public Profile</h6>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-6">
                    <a href="{% url 'dip_yclp' %}" class="text-decoration-none">
                        <div class="card text-center h-100">
                            <div class="card-body d-flex flex-column align-items-center justify-content-center h-100">
                                <i class="fa-solid fa-pen-to-square fa-2xl text-primary mb-2"></i>
                                <h6 class="fw-semibold mb-0">Work Diary</h6>
                            </div>
                        </div>
                    </a>
                </div>
                </div>
                <div class="row g-3 mt-1">
                <div class="col-6">
                    <a href="{% url 'dip_yclp' %}" class="text-decoration-none">
                        <div class="card text-center h-100">
                            <div class="card-body d-flex flex-column align-items-center justify-content-center h-100">
                                <i class="fa-solid fa-database fa-2xl text-primary mb-2"></i>
                                <h6 class="fw-semibold mb-0">Data Repository</h6>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-6">
                    <a href="{% url 'dip_yclp' %}" class="text-decoration-none">
                        <div class="card text-center h-100">
                            <div class="card-body d-flex flex-column align-items-center justify-content-center h-100">
                                <i class="fa-solid fa-bell fa-2xl text-primary mb-2"></i>
                                <h6 class="fw-semibold mb-0">Notifications</h6>
                            </div>
                        </div>
                    </a>
                </div>
                </div>
                <div class="row g-3 mt-1">
                <div class="col-6">
                    <a href="{% url 'dip_yclp' %}" class="text-decoration-none">
                        <div class="card text-center h-100">
                            <div class="card-body d-flex flex-column align-items-center justify-content-center h-100">
                                <i class="fa-solid fa-file-lines fa-2xl text-primary mb-2"></i>
                                <h6 class="fw-semibold mb-0">Transcript</h6>
                            </div>
                        </div>
                    </a>
                </div>              
            </div>
        </div>  
            
        

        
        <div class="col-lg-4">
            <div class="card h-100">
                <div class="card-header">
                    <span class="fw-semibold">Notifications</span>
                </div>
                <div class="card-body"></div>
            </div>
        </div>
    </div>
    
</div>


{% endblock content %}
