{% extends 'base.html' %}
{% load static %}

{% block title %}
Home
{% endblock title %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock links %}

{% block content %}

{% include 'partials/_header.html' %}


<div class="container-fluid py-10">
    <div class="row">
        <div class="col-lg-8 col-sm-12">
            <div class="row gx-4 , gy-3, mt-4">                
                <div class="col-6">
                    <a href="{% url 'dip_yclp' %}" class="text-decoration-none">
                        <div class="card shadow-sm text-center h-100 p-3 bg-light text-dark rounded-3">
                            <div class="d-flex flex-column align-items-center justify-content-center h-100">
                                <img src="{% static 'images/diary.png' %}" alt="Notification" class="img-fluid mb-2"
                                    style="max-width: 60px;">
                                <h6 class="fw-semibold mb-0">DIP YCLP</h6>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-6">
                    <a href="{% url 'dip_yclp' %}" class="text-decoration-none">
                        <div class="card shadow-sm text-center h-100 p-3 bg-light text-dark rounded-3">
                            <div class="d-flex flex-column align-items-center justify-content-center h-100">
                                <img src="{% static 'images/diary.png' %}" alt="Notification" class="img-fluid mb-2"
                                    style="max-width: 60px;">
                                <h6 class="fw-semibold mb-0">DIP MENTEE</h6>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row gx-4 , gy-3, mt-4">
                <div class="col-6">
                    <a href="{% url 'mentor_profile' %}" class="text-decoration-none">
                        <div class="card shadow-sm text-center h-100 p-3 bg-light text-dark rounded-3">
                            <div class="d-flex flex-column align-items-center justify-content-center h-100">
                                <img src="{% static 'images/profile.png' %}" alt="Notification" class="img-fluid mb-2"
                                    style="max-width: 60px;">
                                <h6 class="fw-semibold mb-0">Public Profile</h6>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-6">
                    <a href="{% url 'dip_yclp' %}" class="text-decoration-none">
                        <div class="card shadow-sm text-center h-100 p-3 bg-light text-dark rounded-3">
                            <div class="d-flex flex-column align-items-center justify-content-center h-100">
                                <img src="{% static 'images/diary.png' %}" alt="Notification" class="img-fluid mb-2"
                                    style="max-width: 60px;">
                                <h6 class="fw-semibold mb-0">Work Diary</h6>
                            </div>
                        </div>
                    </a>
                </div>
                </div>
                <div class="row gx-4 , gy-3, mt-4">
                <div class="col-6">
                    <a href="{% url 'dip_yclp' %}" class="text-decoration-none">
                        <div class="card shadow-sm text-center h-100 p-3 bg-light text-dark rounded-3">
                            <div class="d-flex flex-column align-items-center justify-content-center h-100">
                                <img src="{% static 'images/diary.png' %}" alt="Notification" class="img-fluid mb-2"
                                    style="max-width: 60px;">
                                <h6 class="fw-semibold mb-0">Data Repository</h6>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-6">
                    <a href="{% url 'dip_yclp' %}" class="text-decoration-none">
                        <div class="card shadow-sm text-center h-100 p-3 bg-light text-dark rounded-3">
                            <div class="d-flex flex-column align-items-center justify-content-center h-100">
                                <img src="{% static 'images/diary.png' %}" alt="Notification" class="img-fluid mb-2"
                                    style="max-width: 60px;">
                                <h6 class="fw-semibold mb-0">Notifications</h6>
                            </div>
                        </div>
                    </a>
                </div>
                </div>
                <div class="row gx-4 , gy-3, mt-4">
                <div class="col-6">
                    <a href="{% url 'dip_yclp' %}" class="text-decoration-none">
                        <div class="card shadow-sm text-center h-100 p-3 bg-light text-dark rounded-3">
                            <div class="d-flex flex-column align-items-center justify-content-center h-100">
                                <img src="{% static 'images/diary.png' %}" alt="Notification" class="img-fluid mb-2"
                                    style="max-width: 60px;">
                                <h6 class="fw-semibold mb-0">Transcript</h6>
                            </div>
                        </div>
                    </a>
                </div>              
            </div>
        </div>  
            
        

        
        <div class="col-lg-4 p-4 p">
            <div class="border border-primary  rounded h-100">
                <h6 class="text-dark mt-2 text-center">Notifications</h6>
                
            </div>
        </div>
    </div>
    
</div>


{% endblock content %}