{% extends 'base.html' %}
{% load static %}
{% load socialaccount %} {# load allauth's tag library #}

{% block title %}
Login
{% endblock title %}

{% block body_class %}login-page{% endblock body_class %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock links %}

{% block content %}

<div class="row m-0 vh-100">
    <div class="col-sm-12 col-lg-6 left">
        <div class="ps-5 pe-5">
            <div class="fw-bolder fs-1">Let Us Dream</div>
            <div class="fst-italic fs-3">Application Suite</div>
            <p class="mt-4">
                Let Us Dream Application Suite is a unified digital platform designed to streamline and manage
                initiatives, events, collaborations, and impact stories of the Let Us Dream.
                It empowers coordinators, volunteers, and stakeholders with easy access to planning tools,
                communication channels, reports, and resources—ensuring transparency, efficiency,
                and meaningful engagement across all programs.
            </p>
        </div>
    </div>
    <div class="col-sm-12 col-lg-6 right">
        <img src="{% static 'images/lud.png' %}" class="mb-5 mt-5" alt="Let Us Dream Logo">
        <a href="{% provider_login_url 'google' %}" class="google-btn mb-5">
            <img src="{% static 'images/icons/g-logo.png' %}" alt="Google Logo" class="google-logo">
           <div> Continue with Google</div>
        </a>
    </div>
</div>

{% endblock content %}
