{% extends 'base.html' %}
{% load static %}

{% block title %}
Home
{% endblock title %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock links %}

{% block content %}

{% include 'partials/head.html' %}

<div class="container mt-5">
  <h1>New Activity</h1>

  <form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  
  <div class="mb-3">
    {{ form.date.label_tag }}
    {{ form.date }}
  </div>

  <div class="form-group mb-3">
    {{ form.duration.label_tag }}
    {{ form.duration }}
  </div>

  <div class="form-group mb-3">
    {{ form.activity.label_tag }}
    {{ form.activity }}
  </div>

  <div class="form-group mb-3" id="other-activity-container" style="display: none;">
    {{ form.other_activity.label_tag }}
    {{ form.other_activity }}
  </div>

  <div class="form-group mb-3">
    {{ form.learnings.label_tag }}
    {{ form.learnings }}
  </div>

  <div class="form-group mb-3">
    {{ form.photo.label_tag }}
    {{ form.photo }}
  </div>

  <div class="form-group mb-3">
    {{ form.feedback.label_tag }}
    {{ form.feedback }}
  </div>

  <div class="button ps-3 mb-3 p-1">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>



  <script>
    function toggleOtherActivity() {
      var activitySelect = document.getElementById("id_activity");
      var otherActivityContainer = document.getElementById("other-activity-container");

      if (activitySelect.value === "Others") {
        otherActivityContainer.style.display = "block";
      } else {
        otherActivityContainer.style.display = "none";
      }
    }

    document.addEventListener("DOMContentLoaded", function () {
      toggleOtherActivity();
      document.getElementById("id_activity").addEventListener("change", toggleOtherActivity);
    });
  </script>

</div>
{% endblock content %}