{% extends 'base.html' %}
{% load static %}
{% block title %}Manage Assignment{% endblock %}
{% block links %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
{% endblock links %}

{% block content %}
{% include 'partials/head.html' %}

<div class="d-flex" style="min-height: calc(100vh - 60px);">
    <!-- Sidebar -->
    <nav class="sidebar">
        <!-- Top Section -->
        <div>
            <!-- Home -->
            <a href="{% url 'endorser_dashboard' %}" class="nav-link" data-bs-toggle="tooltip" data-bs-placement="right"
                title="Home">
                <i class="bi bi-house"></i>
            </a>


            <!-- Bottom Section -->

            <a href="{% url 'account_logout' %}" class="nav-link text-danger" data-bs-toggle="tooltip"
                data-bs-placement="right" title="Logout">
                <i class="bi bi-box-arrow-right"></i>
            </a>
        </div>
    </nav>
<div class="container py-2">
<div class="d-flex justify-content-between align-items-center p-3 bg-primary text-white rounded">
            <div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item">
                            <a href="{% url 'endorser_dashboard' %}" class="text-white text-decoration-none">Home</a>
                        </li>
                        <li class="breadcrumb-item active text-white" aria-current="page">Work Schedule</li>
                    </ol>
                </nav>
            </div>
        </div>
    <div class="row justify-content-center py-5">
        <div class="col-md-6">
            <div class="card shadow p-4 rounded-3 bg-light">
                <h4 class="text-center text-primary  mb-4">Work Schedule</h4>
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">Mentors</label>
                        {{ form.mentors }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Role</label>
                        {{ form.role }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Due Date</label>
                        {{ form.due_date }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Description</label>
                        {{ form.description }}
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
