


.custom-card {
    background-color: #4b4b7b ;
    border-radius: 10px;
   
}

.card:hover {
    background-color: #4e5871;
}
.profile-img {
    width: 200px;
    height: 150px;
    border-radius: 25px;
}
